.AnalysisStyle {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.ContentWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.DataWrapper {
  border-radius: 10px;
  box-shadow: 5px 10px 25px rgb(101, 119, 134);
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: auto;
  margin-bottom: 50px;
  padding: 30px;
  position: relative;
  width: 27%;
}

.HeaderStyle {
  margin: 30px auto;
  width: 90%;
}

.H1Style {
  font-family: "Arial", sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.PolarityTitle {
  font-weight: bold;
  font-size: 1.2em;
  margin: auto;
  width: 60%;
}

.PolarityCategory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 60%;
}

.PolarityKeyCard {
  border-radius: 10px;
  box-shadow: 5px 10px 25px rgb(101, 119, 134);
  margin: 50px auto;
  padding: 30px;
  width: 90%;
}

.PPlusStyle {
  background-color: rgb(29, 161, 242);
  border-radius: 50%;
  float: right;
  height: 20px;
  margin-top: 15px;
  width: 20px;
}

.PStyle {
  background-color: rgb(25, 140, 212);
  border-radius: 50%;
  float: right;
  height: 20px;
  margin-top: 15px;
  width: 20px;
}

.NavigationBarStyle {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: auto;
}

.NavigationBarLinkStyle {
  color: rgb(21, 115, 173);
  font-weight: bold;
  margin: 10px;
  text-decoration: none;
}

.NavigationBarLinkStyle:hover {
  font-size: 1.1em;
  font-weight: 900;
}

.NEUStyle {
  background-color: rgb(21, 115, 173);
  border-radius: 50%;
  float: right;
  height: 20px;
  margin-top: 15px;
  width: 20px;
}

.NStyle {
  background-color: rgb(15, 81, 122);
  border-radius: 50%;
  float: right;
  height: 20px;
  margin-top: 15px;
  width: 20px;
}

.NPlusStyle {
  background-color: rgb(10, 57, 87);
  border-radius: 50%;
  float: right;
  height: 20px;
  margin-top: 15px;
  width: 20px;
}

.NonPolarStyle {
  background-color: rgb(101, 119, 134);
  border-radius: 50%;
  float: right;
  height: 20px;
  margin-top: 15px;
  width: 20px;
}

.TextStyle {
  font-family: sans-serif;
}

.TweetButtonStyle {
  background-color: rgb(25, 140, 212);
  border-radius: 40px;
  bottom: 15px;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 20%;
}

.TweetButtonCORSStyle {
  background-color: rgb(25, 140, 212);
  border-radius: 40px;
  padding: 10px;
  text-align: center;
  width: 20%;
}

.TweetButtonLinkStyle {
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
}

.Wrapper {
  margin: auto;
  width: 80%;
}
