.AnalysisStyle {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.ContentWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.DataWrapper {
  display: flex;
  position: relative;
  box-shadow: 5px 10px 25px rgb(101, 119, 134);
  flex-direction: column;
  border-radius: 10px;
  padding: 30px;
  margin: auto;
  width: 25%;
  height: 200px;
  margin-bottom: 50px;
}

.HeaderStyle {
  font-size: 30px;
  margin: 30px auto;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  width: 60%;
}

.TextStyle {
  font-family: sans-serif;
}

.PolarityTitle {
  margin: auto;
  width: 60%;
  font-weight: bold;
}

.PolarityCategory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 60%;
}

.PolarityKeyCard {
  width: 60%;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 5px 10px 25px rgb(101, 119, 134);
  padding: 30px;
}

.PPlusStyle {
  background-color: rgb(29, 161, 242);
  border-radius: 50%;
  float: right;
  height: 20px;
  margin-top: 15px;
  width: 20px;
}

.PStyle {
  background-color: rgb(25, 140, 212);
  border-radius: 50%;
  float: right;
  height: 20px;
  margin-top: 15px;
  width: 20px;
}

.NEUStyle {
  background-color: rgb(21, 115, 173);
  border-radius: 50%;
  float: right;
  height: 20px;
  margin-top: 15px;
  width: 20px;
}

.NStyle {
  background-color: rgb(15, 81, 122);
  border-radius: 50%;
  float: right;
  height: 20px;
  margin-top: 15px;
  width: 20px;
}

.NPlusStyle {
  background-color: rgb(10, 57, 87);
  border-radius: 50%;
  float: right;
  height: 20px;
  margin-top: 15px;
  width: 20px;
}

.NonPolarStyle {
  background-color: rgb(101, 119, 134);
  border-radius: 50%;
  float: right;
  height: 20px;
  margin-top: 15px;
  width: 20px;
}

.TweetButtonStyle {
  background-color: rgb(25, 140, 212);
  border-radius: 10px;
  text-align: center;
  position: absolute;
  padding: 10px;
  bottom: 15px;
  width: 20%;
}

.TweetButtonLinkStyle {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.Wrapper {
  width: 80%;
  margin: auto;
}
